
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
out/production/javaftc/calc.class
out/production/javaftc/first.class
out/production/javaftc/forloop.class
out/production/javaftc/Main.class
out/production/javaftc/printntimes.class
out/production/javaftc/stringutil.class
out/production/javaftc/study/getdata.class
*.class
